.footer{
	background-color: white;
}
.footer .col-sm-4 .social{
	margin: 10px 0 0 0;
}
.footer .col-sm-4 .social a{
	padding: 0 1px;
}
.footer .col-sm-4 .social a span{
	height: 30px;
	width: 30px;
	line-height: 30px;
	border: 1px solid grey;
	text-align: center;
	font-size: 18px;
	border-radius: 50%; 
	transition: 0.3s;
}
.footer h4{
	font-size: 15px;
	font-weight: bolder;
}
.footer .col-sm-4 .info{
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-left: 10px;
	padding-bottom: 15px;
}
.footer .col-sm-4 i{
	font-size: 25px;
	color: grey;
}
.footer .col-sm-2 li{
	list-style: none;
	padding-bottom: 5px;
}
.footer .col-sm-2 li a{
	color: rgb(73, 70, 70);
	font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 575px){
	.footer{
		text-align: center;
	}
	.footer .row{
		text-align: center;
	}
}

.extra{
	background-color: #f8f8f8;
	padding-top: 20px;
}
.extra h4{
	font-size: 15px;
	font-weight: bolder;
}
.extra .line{
	display: flex;
}
.line a{
	color: rgb(73, 70, 70);
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.line p{
	padding-left: 35px;
}

.final p{
	color: white;
	line-height: 30px;
	padding-top: 10px;
	text-align: center;
}
.final{
	height: 100%;
	background-color: #E0B938;
}
@media (max-width: 375px){
	.final{
		height: 100%;
	}
}